.action-btn {
    border: 1px solid rgb(233,166,252);
    color: rgb(233,166,252);
    /* background-color: #fff;
    background-image: none;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px; */
}

/* .action-btn:hover {
    /* color: #fff;
    background-color: rgb(233,166,252);
    font-weight: 400; 
} */